.navbar-default {
  background-color: #fff;
  border-color: #fff;
  border-radius: 0px;
}
.__wrappol{
  background-image: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -20px;
  height: 93vh;
}
.__heading{
  margin-top: 25vh;
}
@media (max-width: 992px) {
  .__heading{
    margin-top: 20vh;
  }
}
.__heading h1{
  font-size: 3vw;
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
}
.__heading h3{
  color: #fff;
  font-weight: 200;
  margin-bottom: 10px
}
@media (max-width: 992px) {
  .__heading h1{
    font-size: 10vw;
  }
}
.btn-voting{
  background-color: transparent;
  border: 2px solid #38ceea;
  color: #38ceea;
  border-radius: 40px;
  width: 200px;
}
.btn-voting:hover{
  background-color: #38ceea;
  color: #fff;
}

/* LOGIN */
.well{
  background-color:#fff!important;
  border-radius:0!important;
  border:none!important;
}
.well.login-box {
    width:300px;
    margin:0 auto;
}
.well.login-box legend {
  font-size:26px;
  text-align:center;
  font-weight:300;
}
.well.login-box label {
  font-weight:300;
  font-size:16px;
  letter-spacing: 1px;
}
.well.login-box input[type="text"] {
  box-shadow:none;
  border-color:#ddd;
  border-radius:0;
}
.btn-loginvoting{
  background-color: transparent;
  border: 2px solid #38ceea;
  color: #38ceea;
  border-radius: 40px;
  width: 263px;
}
.btn-loginvoting:hover{
  background-color: #38ceea;
  color: #fff;
}

/* DASHBOARD */
.panel-default {
  border-color: #38ceea;
}
.panel-default>.panel-heading {
  color: #fff;
  background-color: #38ceea;
  border-color: #38ceea;
}
.panel-voting{
  margin-top: 10vh;
}
.__terimah_kasih{
  margin-top: 50px;
}
.__terimah_kasih h3{
  color: #898989;
}
.__terimah_kasih hr{
  width: 50px;
  border-bottom: dotted 8px #d6d6d6;
  border-top: none;
}
.btn-terimah_kasih{
  background-color: #38ceea;
  color: #fff;
}
.btn-terimah_kasih:hover{
  background-color: #f25496;
  color: #fff;
}
.glyphicon { margin-right:5px; }
.glyphicon-new-window { margin-left:5px; }
.panel-body .radio,.panel-body .checkbox {margin-top: 0px;margin-bottom: 0px;}
.panel-body .list-group {margin-bottom: 0;}
.margin-bottom-none { margin-bottom: 0; }

.time-lapse{
  margin-top: 20px;
}
.time-lapse h3{
  font-weight: 400;
  text-align: center;
  color: #eee;
  margin-left: 4px;
}
div.countdown.col-xs-3{
  padding: 0px;
}
.countdown span{
  /* font-size: 2vw; */
  text-transform:capitalize;
  color: #eee;
}
@media (max-width: 992px) {
  .countdown span{
    font-size: 3vw;
  }
}
/* .countdown hr{
  border-color: #eee;
  border-width: 2px;
} */
.countdown-block{
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .countdown{
    padding: 0px 27px;
  }
}
@media (max-width: 320px) {
  .time-lapse{
    display: none;
  }
}


.progress {
    position: relative;
	height: 25px;
}
.progress > .progress-type {
	position: absolute;
	left: 0px;
	font-weight: 800;
	padding: 3px 30px 2px 10px;
	color: rgb(255, 255, 255);
	background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
	position: absolute;
	right: 0px;
	font-weight: 800;
	padding: 3px 10px 2px;
}
